{% extends 'main/layout.html' %}

{% block title %}
    <title>Первая страница</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">История о кошке с голубыми глазами</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Встреча с загадочной кошкой</h5>
                <p class="card-text">В маленьком городке, окруженном зелеными холмами и цветущими садами, жила кошка по имени Луна. У нее были необычные голубые глаза, которые сверкали, как два ярких сапфира. Каждый день Луна гуляла по улицам, привлекая внимание жителей своим грациозным шагом и загадочным взглядом. Дети любили играть с ней, а взрослые часто останавливались, чтобы погладить ее мягкую шерсть.</p>
                <p class="card-text">Однажды, когда Луна исследовала новый уголок своего района, она заметила, что за ней наблюдает маленькая девочка по имени Маша. У Маши были светлые волосы и добрые глаза, и она сразу же влюбилась в Луну. Девочка подошла ближе и тихо произнесла: "Привет, Луна! Ты такая красивая!"</p>
                <a href="{% url 'page2' %}" class="btn btn-primary">Перейти на вторую страницу</a>
            </div>
        </div>
    </div>
{% endblock %}