
{% extends 'main/layout.html' %}

{% block title %}
    <title>Вторая страница</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Дружба с Машей</h5>
                <p class="card-text">С тех пор Луна и Маша стали лучшими друзьями. Каждый день после школы Маша приходила в парк, чтобы поиграть с кошкой. Они вместе исследовали окрестности, лазили по деревьям и ловили солнечные лучи. Луна всегда была рядом, когда Маша чувствовала себя одинокой или грустной. Она знала, как утешить девочку своим мягким мурлыканьем.</p>
                <p class="card-text">Однажды, когда они сидели на скамейке, Маша заметила, что Луна смотрит на небо. "Ты мечтаешь о чем-то, Луна?" — спросила она. Кошка, казалось, понимала каждое слово, и ее глаза сверкали, как будто она знала секреты, которые были скрыты от людей.</p>
                <a href="{% url 'page3' %}" class="btn btn-primary">Перейти на третью страницу</a>
            </div>
        </div>
    </div>
{% endblock %}