{% extends 'main/layout.html' %}

{% block title %}
    <title>Третья страница</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Приключение в лесу</h5>
                <p class="card-text">Однажды Маша решила, что они должны отправиться в настоящее приключение. Она предложила Луне исследовать лес, который находился недалеко от их дома. Луна, полная энергии, согласилась. Они пробирались сквозь густые деревья, и вскоре оказались на поляне, полной ярких цветов и бабочек.</p>
                <p class="card-text">На поляне они нашли старую, заброшенную хижину. Маша, полная любопытства, подошла ближе. "Давай посмотрим, что внутри!" — предложила она. Луна, хотя и была немного настороженной, следовала за ней. Внутри хижины они нашли старые книги и игрушки, которые когда-то принадлежали детям. Это было как путешествие в прошлое!</p>
                <a href="{% url 'page4' %}" class="btn btn-primary">Перейти на четвертую страницу</a>
            </div>
        </div>
    </div>
{% endblock %}