{% extends 'main/layout.html' %}

{% block title %}
    <title>Четвертая страница</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Тайна голубых глаз</h5>
                <p class="card-text">Когда они вернулись домой, Маша задумалась о том, почему у Луны такие необычные голубые глаза. Она решила узнать больше о кошках и их тайнах. Маша начала читать книги о животных и узнала, что голубые глаза у кошек могут означать, что они обладают особым даром — способностью чувствовать эмоции людей.</p>
                <p class="card-text">С тех пор Маша и Луна стали не только лучшими друзьями, но и настоящими партнерами в приключениях. Они вместе исследовали мир, и каждый день приносил им новые открытия. Луна с голубыми глазами стала символом дружбы и понимания, а Маша поняла, что настоящая магия заключается в любви и заботе о друг друге.</p>
                <p class="card-text">И так, история о кошке с голубыми глазами и ее лучшей подруге Маше продолжалась, полная волшебства и приключений, которые они переживали вместе.</p>
                <a href="{% url 'home' %}" class="btn btn-primary">Вернуться к первой странице</a>
            </div>
        </div>
    </div>
{% endblock %}